%tr
  %td.nowrap
    8:00 AM
  %td
    .schedule-title
      Registration
    .schedule-speakers
      Organizers & Attendees
%tr
  %td.nowrap
    9:45 AM
  %td
    .schedule-title
      Welcome and Introduction
    .schedule-speakers
      Coby Randquist, JR Fent
%tr
  %td.nowrap
    10:00 AM
  %td
    .schedule-title
      Keynote: People Patterns
    .schedule-speakers
      Joe O'Brien
%tr
  %td.nowrap
    10:55 AM
  %td
    .schedule-title
      Break
    .schedule-speakers
      &nbsp;
%tr
  %td.nowrap
    11:05 AM
  %td
    .schedule-title
      Metrics-Driven Ruby/Rails Performance
    .schedule-speakers
      Jeff Casimir
%tr
  %td.nowrap
    11:35 AM
  %td
    .schedule-title
      How to scale a Ruby webservice
    .schedule-speakers
      Jeremie Castagna
%tr
  %td.nowrap
    12:05 PM
  %td
    .schedule-title
      Lunch
    .schedule-speakers
      &nbsp;
%tr
  %td.nowrap
    1:50 PM
  %td
    .schedule-title
      Kill! Kill! Die! Die! Load Testing With A Vengeance
    .schedule-speakers
      Dan Yoder, Carlo Flores
%tr
  %td.nowrap
    2:20 PM
  %td
    .schedule-title
      Rack Middleware as a General Purpose Abstraction
    .schedule-speakers
      John Bender
%tr
  %td.nowrap
    2:50 PM
  %td
    .schedule-title
      Break
    .schedule-speakers
      &nbsp;
%tr
  %td.nowrap
    3:05 PM
  %td
    .schedule-title
      Quit Your Job, Srsly.
    .schedule-speakers
      Shane Becker
%tr
  %td.nowrap
    3:35 PM
  %td
    .schedule-title
      Designing Hypermedia APIs
    .schedule-speakers
      Steve Klabnik
%tr
  %td.nowrap
    4:05 PM
  %td
    .schedule-title
      Break
    .schedule-speakers
      &nbsp;
%tr
  %td.nowrap
    4:20 PM
  %td
    .schedule-title
      Maintainable Ruby on Rails
    .schedule-speakers
      Steven Baker
%tr
  %td.nowrap
    4:50 PM
  %td
    .schedule-title
      Managing Success: We made it, now we're screwed.
    .schedule-speakers
      Mike Moore
%tr
  %td.nowrap
    5:20 
  %td
    .schedule-title
      Break
    .schedule-speakers
      &nbsp;
%tr
  %td.nowrap
    5:15 PM
  %td
    .schedule-title
      Great Developers Steal
    .schedule-speakers
      Ben Scofield
%tr
  %td.nowrap
    6:05 PM
  %td
    .schedule-title
      Rails: All Aboard the Fail Train
    .schedule-speakers
      Xavier Shay
%tr
  %td.nowrap
    6:35 PM
  %td
    .schedule-title
      Time to move away from Ruby
    .schedule-speakers
      Matt Aimonetti
%tr
  %td.nowrap
    7:05 PM
  %td
    .schedule-title
      Conference Wrap-up 
    .schedule-speakers
      Coby Randquist, JR Fent


