%h1
  Schedule
.day-1
  .form-header
    Workshops - Thursday, February 2nd, 2012
    %table.schedule
      %tr
        %th{:width => "20%"}
          Time
        %th{:width => "25%"}
          Room #1
        %th{:width => "25%"}
          Room #2
        %th{:width => "25%"}
          Room #3
      %tr
        %td
          9:00 AM -
          %br
          5:00 PM
        %td
          .schedule-title
            =link_to 'Ruby Fundamentals', "/training/jumpstartlab"
          .schedule-speakers
            Jeff Casimir
        %td
          .schedule-title
            =link_to 'Maintainable Rails', "/training/steven-baker"
          .schedule-speakers
            Steven R. Baker
        %td
          .schedule-title
            =link_to 'Ruby Koans', "/training/rubykoans"
          .schedule-speakers
            =link_to 'EdgeCase', "http://edgecase.com", :target => "_blank"
.day-1
  .form-header
    Workshops - Friday, February 3rd, 2012
    %table.schedule
      %tr
        %th{:width => "20%"}
          Time
        %th{:width => "25%"}
          Room #1
        %th{:width => "25%"}
          Room #2
        %th{:width => "25%"}
          Room #3
      %tr
        %td
          9:00 AM -
          %br
          5:00 PM
        %td
          .schedule-title
            =link_to 'Rails Fundamentals', "/training/jumpstartlab"
          .schedule-speakers
            Jeff Casimir
        %td
          .schedule-title
            =link_to 'Vital Testing', "/training/vitaltesting"
          .schedule-speakers
            =link_to "EdgeCase", "http://edgecase.com", :target => "_blank"
        %td
          .schedule-title
            TBA
          .schedule-speakers
.day-2
  .form-header
    Conference - Saturday, February 4th, 2012
    %table.schedule
      %tr
        %th
          Time
        %th
          Presentation / Presenter(s)
      =render :partial => 'override'