.training
  %p.center
    =image_tag("sponsors/jumpstartlab-logo.png")
  %p
    JumpstartLab offers the best web development training anywhere. They are known for their expertise in Ruby on Rails, but also instruct courses in jQuery, JavaScript, ExtJS, and Git.
  %p
    Jeff Casimir (@j3 on Twitter) will be presenting the following workshops:
  %h2
    Ruby Fundamentals - Thursday February 2nd
  %p
    If you’re looking for your first introduction to programming this is the course for you. You’ll jump right in write code. The Level 1 course is an introduction to Ruby, data structures, flow control, conditions, basic I/O, and manipulating data. No prior programming experience is necessary.
  %p
    We'll work on an "Extract-Translate-Load" (ETL) project, starting with a file full of spreadsheet data, manipulating individual elements, generating form letters, and looking up Congressional district data via a web-based API.
  %p
    Some of the skills we'll focus on include:
  %ul.training
    %li
      Understanding how a Ruby program works and how execution flows
    %li
      Basics of objects, methods, parameters, and return values
    %li
      Use of data structures including variables, hashes, and arrays
    %li
      Use of flow control techniques including looping and branching
    %li
      Principles of basic logic including equal, not equal, NOT, AND, and OR
    %li
      Use of conditional logic including IF, ELSE, UNLESS, and ELSIF
    %li
      Accept input and deliver output data through the console and comma-separated-value files
    %li
      How to load and access available Ruby libraries and gems
  %h2
    Rails Fundamentals - Friday February 3rd
  %p
    For this session you need to either be familiar with the Ruby language or have participated in the Ruby Fundamentals session.
  %p
    We'll create a simple Rails application and start to understand how all the pieces fit together. We'll breakdown the Rails lifecycle, isolating the responsibilities of each component, and build them up one-by-one.
  %p
    At the end of the day you'll have a very small application running and be ready to continue your learning.
  %p
    Some of the skills we'll focus on include:
    %ul.training
      %li
        Understanding the MVC architecture
      %li
        Building database tables using migrations
      %li
        Creating a model to interact with the database
      %li
        Create views for a user interface
      %li
        Understand how requests and parameters are used
      %li
        Rails request lifecycle