.training
  %p
    Steven Baker (@srbaker on Twitter), veteran Ruby developer and author of the upcoming "SOLID Ruby on Rails", will teach a single day educational workshop on making your Ruby on Rails applications more extensible and maintainable.
  %h2
    Maintainable Rails
  %p.center
    =link_to "Register Now!", "http://larubyconf.eventwax.com/la-ruby-conference-2012/register", :target => "_blank", :id => 'register-button'
  %p
    Ruby on Rails has now been an important part of our toolboxes for nearly a decade, and as a result many teams are feeling pain from maintaining their legacy code, past choices, and changing requirements. Many teams struggle to add new features, respond to changing requirements, and stay competitive.
    %p
      In this workshop you'll learn:
      %ul
        %li to apply the principles of object oriented design to ensure your software is re-usable and extensible
        %li to spot poor design choices and distance your code from them so you don't get held up
        %li common mistakes made by other teams, and how to avoid them
        %li a focus on simplicity, and how to simplify complex problems
    %p
      This will be taught through live coding exercises which you will work through with a pair. There will be opportunities for asking questions, seeing how the solutions work out over time, and possibly even apply some of these methods to your own code bases.