.training
  %p.center
    =image_tag("sponsors/edgecase.png")
  %h2
    Vital Testing
  %p
    Testing is a fundamental part of the Agile process. We live and breath TDD/BDD. Red/Green/Refactor is our daily mantra. We love cucumber and writing executable customer readable specifications. We even write tests for our javascripts.
  %p
    And yet, testing remains hard. The tests we love to write are brittle and tend to break when we refactor. Although we talk about the tests being the specification of our code, too often the specify "how it's implemented" rather than "the expected behaviour".
  %p
    This workshop is about how to improve the way we do testing, how to move away from merely specifying how our software is implemented to capturing the true essence of how it should function.
  %p
    Topics include:
    %ul
      %li Slow Tests
      %li Over Mocking
      %li Complex Object Builds
      %li Gratuitous Use of the Database
      %li Custom Assertions / Matchers
      %li Over Meta in Tests
      %li Testing Private Methods
      %li Correct use of Describe & Context
      %li Refactoring Tests
      %li Tests as Specifications