%h2
  Announcement
#announcement
  %h3
    LA Ruby Conference 2012
  %p
    This is the fourth year for the LA Ruby Conference.  Thank you for joining us.
  %p
    Registration for the conference is now open.
  %p
    %span.bold
      February 2nd-4th, 2012
      %br
      Holiday Inn Media Center
      %br
      Burbank, California
  %hr
  %h3
    Buy a ticket for Thursday workshop
  %p
    %br
    =link_to 'Ruby Fundamentals', '/training/jumpstartlab'
    or
    =link_to 'Maintainable Rails', '/training/steven-baker'
    or
    =link_to 'Ruby Koans', '/training/rubykoans'
  %hr
  %h3
    Buy a ticket for Friday Workshop
  %p
    =link_to 'Rails Fundamentals', '/training/jumpstartlab'
    or
    =link_to 'Vital Testing', '/training/vitaltesting'
  %hr
  %h3
    Buy your Saturday Conference Ticket
  %p
    =link_to 'View Schedule', presentations_path()
  %p
    =link_to "Buy Tickets Now!!", "http://larubyconf.eventwax.com/la-ruby-conference-2012/register", :target => "_blank", :id => 'register-button'
  %p
    %i Sorry for earlier confusion around the ticket purchases, you can now buy tickets for each workshop and the conference at the one link above.