%hr
.sponsor
  -unless sponsor.logo.nil?
    =display_logo sponsor
  -else
    %p.company-name
      =link_to sponsor.company_name, sponsor_path(sponsor)
  %p.blurb
    =Haml::Engine.new(sponsor.blurb).render
